{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success mt-4">
        {{ message }}
    </div>
{% endfor %}

<div class="container">
    <h1>GARAGE PARROT</h1>
    <div class="row">
        <div class="col-md-8">
            <img src="{{ asset('images/contentImg/home_garage.png') }}" alt="home_Garage" width="80%">
        </div>

        <div class="col-md-3 rounded">
            <div class="row border border-success rounded m-1 bg-light">
                
                <div class="col-md-12 d-flex justify-content-center align-items-center fs-4 rounded-circle">
                    {{ average_rating|number_format(1) }} ⭐
                </div>
            </div>
            <div class"row bg-info border border-info">
                {% if latest_opinion and opinion.isValid %}
                    <div class="card border-info my-3" style="max-width: 20rem;">
                        <div class="card-header">{{ latest_opinion.fullname }}</div>
                        <div class="card-body">
                            <p class="card-text">{{ latest_opinion.comment }}</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text"><small>{{ latest_opinion.createdAt|date("d-m-Y") }}</small></p>
                        </div>
                    </div>
                {% else %}
                    <p>Aucun avis disponible pour le moment.</p>
                {% endif %}
            <div class="row">
                <div class="col-md-12 d-flex justify-content-around mb-4">
                    <a href="{{ path('app_opinion') }}">Votre avis</a>
                    <a href="{{ path('app_all-opinions') }}">Tous les avis</a>
                </div>
            </div>
            </div>

        </div>
    
    </div>

</div>

{% endblock %}
