{% extends 'base.html.twig' %}

{% block title %}
    Annonce {{ notice.brand }}
{% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="row">
            <div class="col-6">
                <div>
                {% include "partials/carousel.html.twig" %}
                </div>
            <div class="mt-4">
                <a href="{{ path('app_contact', {'source': 'notice'}) }}" class="bg-info rounded text-light p-2">Contact</a>
            </div>
            </div>
            <div class="col-md-5 text-center">
                <h2 class="fw-bolder">{{ notice.brand }}</h2>
                <h3>{{ notice.model }}</h3>
                <div class="d-flex align-items-end justify-content-around bg-primary my-4 py-2 text-light rounded">
                    <h4>{{ ((notice.price) / 100) | number_format(0, ',', ' ') }} €</h4>
                    <h4>{{ notice.kilometer }} Km</h4>
                    <h4>{{ notice.releaseDate|date("Y")  }}</h4>
                </div>
                <pre class="badge bg-light rounded">
                    {{ notice.description|raw|replace({'&nbsp;': '\n'})|striptags|nl2br }}
                </pre>
            </div>
        </div>
    </div>
{% endblock %}