{{ form_start(form) }}

  <div>
    <div class="my-4 d-flex flex-wrap align-content-center justify-content-center">
      {{ form_widget(form.minPrice) }}
      {{ form_widget(form.maxPrice) }}
      <div id="price-slider" class="w-50 mt-2"></div>
    </div>
    <div class="my-4 d-flex flex-wrap align-content-center justify-content-center">
      {{ form_widget(form.minKilometer) }}
      {{ form_widget(form.maxKilometer) }}
      <div id="kilometer-slider" class="w-50 mt-2"></div>
    </div>
    <div class="my-4 d-flex flex-wrap align-content-center justify-content-center">
      {{ form_widget(form.minYear) }}
      {{ form_widget(form.maxYear) }}
      <div id="date-slider" class="w-50 mt-2"></div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary mb-3">Rechercher</button>
    </div>
  </div>

{{ form_end(form) }}

